<h1>Tell us a little bit more about your trip to BERLIN</h1>
<h2>What’s your mood</h2>
<p>One answer only, all-in </p>
<div container='form-recherche'>

<%= form_tag(places_path({query: 'coucouy'}), method: 'get') do %>

  <div class="form-section">
    <%#= label_tag(:name, "Choisis ton mood?") %><br>
  <div>
    <%#= label_tag(:query, 'c moi ', checked: true, class: 'd-none') %>
    <%= radio_button_tag(:name, 'Party Animal', checked: true, class: 'form-button') %>
    <%= label_tag(:name_party, "Party Animal", class: 'form-button-label') %>
    <%= radio_button_tag(:name, 'Chillseeker', class: 'form-button') %>
    <%= label_tag(:name_chill, "Chillseeker", class: 'form-button-label') %>
    <%= radio_button_tag(:name, 'Gourmet explorer', class: 'form-button') %>
    <%= label_tag(:name_restaurant, "Gourmet explorer", class: 'form-button-label') %>
    <%= radio_button_tag(:name, 'Bar Hopper', class: 'form-button') %>
    <%= label_tag(:name_bar, "Bar Hopper", class: 'form-button-label') %> <br><br><br>
  </div>
</div>

<h2>Do you want to discover</h2>
<p>You can select multiple answers </p>
<%= field_set_tag 'Quel type de lieu?' do %>
  <p><%= check_box_tag "Night-club" %>Night-club</p>
  <p><%= check_box_tag "Restaurant" %>Restaurant</p>
  <p><%= check_box_tag "Bar" %>Bar</p>
<% end %>

<%= field_set_tag 'Quel type de lieu?' do %>
  <% @tags.each do |tag| %>
      <p><%= check_box_tag tag %> <%= tag.name %></p>
  <% end %>

<% end %>

  <%= submit_tag("Obtenir les résultats") %>
<% end %>





</div>
