<div class="container" data-controller="profile-form">
  <div class="form-container">

    <div class="form-intro-container">
      <div class="form-intro " data-profile-form-target="question">
        <h1>Welcome <strong><%#= %></strong>!</h1>
        <p>Tell us more about <strong>you</strong></p>
        <button class="button-main" data-action="click->profile-form#next" >Let's start</button>
      </div>
    </div>

    <%= form_with url:profiles_define_path, method: :post, data: { profile_form_question_index_value: 0 } do %>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <div class="form-question">
            <h3>How do you like your evenings?</h3>
            <% Profile::QUESTION1.each do |key, value| %>
              <%= label_tag "question1_#{key}" do %>
                <%= check_box_tag "Q1[]", key, false, { id:"question1_#{key}", data: {action: "change->profile-form#next"}, class: "hidden-checkbox" } %>
                <%= value %>
              <% end %>
            <% end %>
        </div>
      </div>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <h3>What drink would you be?</h3>
        <% Profile::QUESTION2.each do |key, value| %>
          <%= label_tag do %>
            <%= check_box_tag "Q2[]", key, false, { data: {action: "change->profile-form#next"}, class: "hidden-checkbox" } %>
            <%= value %>
          <% end %>
        <% end %>
      </div>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <h3>Your favorite music when you're out?</h3>
        <% Profile::QUESTION3.each do |key, value| %>
          <%= label_tag do %>
            <%= check_box_tag "Q3[]", key, false, { data: {action: "change->profile-form#next"}, class: "hidden-checkbox" } %>
            <%= value %>
          <% end %>
        <% end %>
      </div>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <h3>What's your motivation to go out?</h3>
        <% Profile::QUESTION4.each do |key, value| %>
          <%= label_tag do %>
            <%= check_box_tag "Q4[]", key, false, { data: {action: "change->profile-form#next"}, class: "hidden-checkbox" } %>
            <%= value %>
          <% end %>
        <% end %>
      </div>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <h3>When do you go out?</h3>
        <% Profile::QUESTION5.each do |key, value| %>
          <%= label_tag "question5_#{key}" do %>
            <%= check_box_tag "Q5[]", key, false, { id: "question5_#{key}", class: "hidden-checkbox" } %>
            <%= value %>
          <% end %>
        <% end %>

        <div class="form-submit mt-5">
          <input type="submit" value="Let's find out" class= "button-main">
        </div>
      </div>


    <% end %>
  </div>
</div>
