<div class="container padding-bottom-wrapper" data-controller="profile-form">
  <div class="form-container d-flex align-items-center vh-100">

    <div class="form-intro-container">
      <div class="form-intro " data-profile-form-target="question">
        <h1 class="title-h1-form">Welcome <strong><%#= %></strong>!</h1>
        <p>Tell us more about <strong>you</strong></p>
        <button class="button-main" data-action="click->profile-form#next" >Let's start</button>
      </div>
    </div>

    <%= form_with url:profiles_define_path, method: :post, data: { profile_form_question_index_value: 0 } do %>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <div class="form-question">
            <h3 class="title-h1-form">How do you like <br>
            your <span class="text-yellow">evenings</span> ?</h3>
            <div class="form-buttons">
              <% Profile::QUESTION1.each do |key, value| %>
                <%= label_tag "question1_#{key}" do %>
                  <%=  %>
                  <%= radio_button_tag "Q1[]", key, false, { id: "question1_#{key}", required: true, data: {action: "change->profile-form#next"}, class: "hidden-checkbox" } %>
                  <%#= check_box_tag "Q1[]", key, false, { id:"question1_#{key}", data: {action: "change->profile-form#next"}, class: "hidden-checkbox" } %>
                  <%= value %>
                <% end %>
              <% end %>
            </div>
        </div>
      </div>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <h3 class="title-h1-form">What <span class="text-yellow">drink</span> <br>
        would you be?</h3>
        <div class="form-buttons">
          <% Profile::QUESTION2.each do |key, value| %>
            <%= label_tag do %>
              <%= radio_button_tag "Q2[]", key, false, { data: {action: "change->profile-form#next"}, required: true, class: "hidden-checkbox" } %>
              <%= value %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <h3 class="title-h1-form">Your favorite <span class="text-yellow">music</span> <br>
        when you're out?</h3>
      <div class="form-buttons">
        <% Profile::QUESTION3.each do |key, value| %>
          <%= label_tag do %>
            <%= radio_button_tag "Q3[]", key, false, { data: {action: "change->profile-form#next"}, required: true, class: "hidden-checkbox" } %>
            <%= value %>
          <% end %>
        <% end %>
        </div>
      </div>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <h3 class="title-h1-form">What's your <span class="text-yellow">motivation</span> <br>
        to go out?</h3>
        <div class="form-buttons">
          <% Profile::QUESTION4.each do |key, value| %>
            <%= label_tag do %>
              <%= radio_button_tag "Q4[]", key, false, { data: {action: "change->profile-form#next"}, required: true, class: "hidden-checkbox" } %>
              <%= value %>
            <% end %>
          <% end %>
        </div>
       </div>

      <div class="form-question text-center my-2 d-none" data-profile-form-target="question">
        <h3 class="title-h1-form">When do you <br>
        <span class="text-yellow">go out?</span></h3>
        <div class="form-buttons">
          <% Profile::QUESTION5.each do |key, value| %>
            <%= label_tag "question5_#{key}" do %>
              <%= radio_button_tag "Q5[]", key, false, { id: "question5_#{key}", required: true, class: "hidden-checkbox" } %>
              <%= value %>
            <% end %>
          <% end %>
         </div>
        <div class="form-submit mt-5">
          <input type="submit" value="Let's find out" class= "button-main">
        </div>
      </div>


    <% end %>
  </div>
</div>
