<%= link_to place_path(place) do %>
  <div class="card">
    <div class="content-left">
      <!-- contenu de la partie gauche ici -->
      <div class="place-card-image">
        <% if place.image? %>
          <%= image_tag place.image %>
        <% else %>
          <%= image_tag 'https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns=' %>
        <% end %>
      <% end %>
      </div>
    </div>

    <%= link_to edit_bookmark_path(bookmark), data: {turbo: false}  do %>
    <div class="content-right">
      <!-- contenu de la partie droite ici -->
      <h5 class="place-name"><%= place.name %></h5>
      <div class="address">
        <%= place.address %>
      </div>
      <div class="visite button-main">
      <% if bookmark.reviewed? %>
        Reviewed
      <% else %>
        Leave a review
      <% end %>
      </div>
    </div>
<% end %>
