<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
  <div class="avatar_dashboard"><%= cl_image_tag current_user.profile_picture.attached? ? current_user.profile_picture.key : "vuwmei7psskhhh6vfua6" %></div>
  <div class=""><%= current_user.pseudo %></div>
  <%= current_user.profile.name %> <br>
  <% current_user.trips.each do |trip| %>
    <%= trip.name %>
  <% end %>
  </div>
