<%# penser à ajouter le 'modify' dans le profil sous la photo pour permettre de modifier l'entiereté ou non du profil%>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
  <div class="container">
    <div class="avatar_dashboard">
      <%= cl_image_tag current_user.profile_picture.attached? ? current_user.profile_picture.key : "vuwmei7psskhhh6vfua6" %>
    </div>
    <div class="user_pseudo">
      <%= current_user.pseudo %>
    </div>
    <div class="profile_category">
      <%= current_user.profile.name %> <br>
    </div>
    <div class="profile-boxes-trips">
      <div class="my-counts">
        <%= @my_trips.count %> <br>
        <p class="trips-string">Cities</p>
      </div>
      <div class="my-counts">
        <%= @my_reviews.count %> <br>
        <p class="reviews-string">Reviews</p>
      </div>
      <div class="my-counts">
        <%= @my_places.count %> <br>
        <p class="places-string">Places</p>
      </div>
    </div>
    <p class="your-best-places">Your <strong>best places</strong> in :</p>
    <% current_user.trips.each do |trip| %>
      <%= trip.name %>
    <% end %>
    <input class= "button-Plan-profile" type="button" value="Plan another trip">
  </div>
