<%# penser à ajouter le 'modify' dans le profil sous la photo pour permettre de modifier l'entiereté ou non du profil%>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="avatar_dashboard"><%= cl_image_tag current_user.profile_picture.attached? ? current_user.profile_picture.key : "vuwmei7psskhhh6vfua6" %></div>
      <div class="profile-category-username">
        <div class="user_pseudo"><%= current_user.pseudo %></div>
          <div class="profile_category"><%= current_user.profile.name %> <br></div>
            <div></div><h1>yo</h1>
              <div></div><h1>yo</h1>
                <div></div><h1>yo</h1>
              <% current_user.trips.each do |trip| %>
               <%= trip.name %>
             <% end %>
            <input class= "button-Plan-profile" type="button" value="Plan another trip">
      </div>
