<%# penser à ajouter le 'modify' dans le profil sous la photo pour permettre de modifier l'entiereté ou non du profil%>
  <div class="container">
    <div class="edit-button">
      <%= link_to %>
      <i class="fa-regular fa-pen-to-square"></i>
    </div>
    <div class="avatar_dashboard">
      <%= cl_image_tag current_user.profile_picture.attached? ? current_user.profile_picture.key : "vuwmei7psskhhh6vfua6" %>
    </div>
    <div class="user_pseudo">
      <h3><%= current_user.pseudo.capitalize %></h3>
    </div>
    <div class="profile_category">
      <%= current_user.profile.name %> <br>
    </div>
    <div class="profile-boxes-trips">
      <div class="my-counts">
        <%= @my_trips.count %> <br>
        <p class="trips-string">Cities</p>
      </div>
      <div class="my-counts">
        <%= @my_reviews.count %> <br>
        <p class="reviews-string">Reviews</p>
      </div>
      <div class="my-counts">
        <%= @my_places.count %> <br>
        <p class="places-string">Places</p>
      </div>
    </div>

    <div class="border-bottom-container">
      <p> </p>
    </div>


    <p class="your-best-places">Your <strong>best places</strong> in :</p>
    <% current_user.trips.each do |trip| %>
      <%= trip.name %>
    <% end %>
    <input class= "button-Plan-profile" type="button" value="Plan another trip">
  </div>
