<div class="container-places">

<%= @search_places.count %>
<%= @best_matches.count %>
<%= @reco_bars.count %>
<%= @reco_restaurants.count %>
<%= @reco_club.count %>

  <% if @query.present? && @search_places.empty? %>
    <h2><strong>No places in <%= @query.capitalize %></strong></h2>
    <% elsif @query.nil? %>
    <% else %>
    <div class="text">
            <h4>Going out like <br>
            a LOCAL in <strong><%= @query.capitalize %>:</strong></h4>
            <% end %>
             </div>
  <button class="map-view" type="button">Map view</button>
  <h5 class="order">Order your matches :</h5>
  <div class="menu-container">
    <div class="menu">
      <select>
        <option value="">Relevance</option>
        <option value="1">Croissant</option>
        <option value="2">Décroissant</option>
      </select>
    </div>
    <div class="menu">
      <select>
        <option value="">Budget</option>
        <option value="1">Croissant</option>
        <option value="2">Décroissant</option>
      </select>
    </div>
    <div class="menu">
      <select>
        <option value="">Rating</option>
        <option value="1">Croissant</option>
        <option value="2">Décroissant</option>
      </select>
    </div>
  </div>
  <div class="bestmatches"><h3><strong>Best matches</strong> all categories</h3></div>

  <div class="cards-place-big">
    <% @best_matches.each do |match| %>
      <%= render "shared/big_place_card", place: match %>
    <% end %>
  </div>
</div>

<div class="container-reco">
  <% if @reco_club.count != 0 %>
    <div class="place-index-reco-top">
      <h3><strong>Best Club </strong>in <%= @query.capitalize %></h3>
      <div class="place-cards-scrollable">
          <% @reco_club.each do |place| %>
            <%= render "shared/place_card", place: place %>
          <% end %>
      </div>
    </div>
  <% end %>

  <% if @reco_bars.count != 0 %>
    <div class="place-index-reco-top">
      <h3><strong>Best Bar </strong>in <%= @query.capitalize %></h3>
      <div class="place-cards-scrollable">
          <% @reco_bars.each do |place| %>
            <%= render "shared/place_card", place: place %>
          <% end %>
        </div>
    </div>
  <% end %>

  <% if @reco_restaurants.count != 0 %>
    <div class="place-index-reco-top">
      <h3><strong>Best Restaurant </strong>in <%= @query.capitalize %></h3>
      <div class="place-cards-scrollable">
          <% @reco_restaurants.each do |place| %>
            <%= render "shared/place_card", place: place %>
          <% end %>
        </div>
    </div>
    <% end %>
</div>
