  <%= link_to :back, class: "link-secondary-perso" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

<div class="container padding-bottom-wrapper">

  <%# IMAGE NE FONCTIONNE PAS - CF PRECEDENT CODE SI BESOIN %>
  <div class="place-show-image">
    <% if @place.image? %>
      <%= image_tag @place.image %>
    <% else %>
      <%= image_tag "https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns=" %>
    <% end %>
  </div>

  <div class="place-show-details">
    <div class="place-show-top">
      <h1><%= @place.name %></h1>
      <div class="address">
        <i class="fa-solid fa-location-dot"></i>
        <%= @place.address %>

        <p><em>Matching at <span class="text-purple"><%= @place.match(current_user) %> %</span></em></p>

      </div>

      <div class="place-tag-list"> <%# REND UNIQUE CHAQUE TAG ET DONNE LE NB DE FOIS QU'IL A ETE ATTRIBUE: %>
        <% @place.tag_list(4).each do |tag| %>
          <div class="place-tag">
            <p><%= tag.first.downcase %></p>
          </div>
        <% end %>
      </div>


      <%#= LAISSER LE CHOIX DU TRIP AUQUEL INTEGRER LE BOOKMARK %>
      <% if @place.bookmarked?(current_user) %>
        <%#= link_to "Remove from my bookmarks", place_path(@place), data: {turbo_method: :destroy, turbo_confirm: "Are you sure?"} %>
        <button class="button-main">Added to your bookmarks</button>
      <% else %>
          <!-- Button trigger modal -->
          <button type="button" class="button-main" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add to my bookmarks
          </button>

      <% end %>
    </div>


    <div class="border-bottom-container center">
      <p> </p>
    </div>


    <div class="place-show-descr">
      <h3>About</h3>
        <% if @place.description.nil? %>
          <p><em>No description yet</em></p>
        <% else %>
          <p><%= @place.description %></p>
        <% end %>

        <p><%#= @place.website %></p>
        <p><%= @place.phone_number %></p>

      <div class="place-show-map">
        <%= render "shared/geocoder", markers: @markers %>
      </div>
    </div>
  </div>

  <div class="border-bottom-container">
    <p> </p>
  </div>

  <div class="place-show-reco">
    <h3>Similar places you might like</h3>
      <% @reco_places.each do |place| %>
        <div class="place-cards">
          <%= render "shared/place_card", place: place %>
        </div>
      <% end %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body align-self-center">
        <h4>Create a new trip:</h4>
          <div class="form-new-trip">
            <%= form_with model: @trip do %>
              <%= hidden_field_tag :place_id, @place.id %>
              <%= text_field_tag :name, params[:name], id: "trip_", placeholder: "Create a new trip" %>
              <%= submit_tag "Add", class: "button-form-popup"  %>
            <% end %>
          </div>
        <% if @trips.present? %>

          <div class="form-existing-trips">
            <h4>Or add to an existing one:</h4>
              <%= form_with url: place_bookmarks_path(@place), method: :post do |f| %>
                <div class="form-place d-flex">
                  <%= f.collection_select :trip_id, @trips, :id, :name, prompt: true %>
                  <%= f.submit "Add", class: "button-form-popup" %>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
