<div class="container">
  <%= link_to "Back to results", :back, class: "link-secondary-perso" %>

  <%# IMAGE NE FONCTIONNE PAS - CF PRECEDANT CODE SI BESOIN %>
  <div class="place-show-image" style="background-image: url('<% @place.image? ? @place.image : "../app/assets/images/no_image.jpg" %>')">
  <% if @place.image? %>
      <%= image_tag @place.image %>
    <% else %>
      <%= image_tag "https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns=" %>
    <% end %>
  </div>

  <div class="place-show-details">
    <div class="place-show-top">
      <h1><%= @place.name %></h1>
      <div class="address">
        <i class="fa-solid fa-location-dot"></i>
        <%= @place.address %>

        <% if @place.users.count == 0 %>
          <p><em>Not recommended yet</em></p>
        <% elsif @place.users.count == 1 %>
          <p><em>Recommended by <%= @place.users.count %> person</em></p>
        <% else %>
          <p><em>Recommended by <%= @place.users.count %> people</em></p>
        <% end %>
      </div>

      <div class="place-tag-list"> <%# REND UNIQUE CHAQUE TAG ET DONNE LE NB DE FOIS QU'IL A ETE ATTRIBUE: %>
        <% @place.tag_list.each do |tag, value| %>
          <div class="place-tag">
            <p><%= tag.downcase %></p>
          </div>
        <% end %>
      </div>


      <%#= LAISSER LE CHOIX DU TRIP AUQUEL INTEGRER LE BOOKMARK %>
      <% if @place.bookmarked?(current_user) %>
        <button class="button-main">Already in your bookmarks</button>
      <% else %>
        <div class="" data-controller="add-trip-to-bookmarks">
          <%= link_to "Add to my bookmarks", "#", data: {action: "click->add-trip-to-bookmarks#showTrips" }%>
          <%= form_with url: place_bookmarks_path(@place), method: :post, data: {add_trip_to_bookmarks_target: "tripList"} ,class: "d-none" do |form| %>
            <% if @trips.present? %>
              <%= form.select :trip, @trips.map { |trip| [trip.name, trip.id] } %>
            <% end %>
            <%# ADD A NEW TRIP A AJOUTER %>
            <%#= form.label :trip, "Add a new trip"%>
            <%#= form.input :trip %>
          <% end %>
        </div>
        <%#= link_to "Add to my bookmarks", place_bookmarks_path(@place), data: { turbo_method: :post }, class: "button-main" %>
      <% end %>
    </div>

    <div class="border-bottom-container center">
      <p> </p>
    </div>

  <%= link_to root_path do %>
    #icone
  <% end %>

    <div class="place-show-descr">
      <h3>About</h3>
        <% if @place.description.nil? %>
          <p><em>No description yet</em></p>
        <% else %>
          <p><%= @place.description %></p>
        <% end %>

        <p><%#= @place.website %></p>
        <p><%= @place.phone_number %></p>

      <div class="place-show-map">
        <%= render "shared/geocoder", markers: @markers %>
      </div>
    </div>
  </div>

  <div class="border-bottom-container">
    <p> </p>
  </div>

  <div class="place-show-reco">
    <h3>Similar places you might like</h3>
      <% @reco_places.each do |place| %>
        <div class="place-cards">
          <%= render "shared/place_card", place: place %>
        </div>
      <% end %>
  </div>
</div>
